/* GENERALES */

*{
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

a{
    text-decoration: none;
    color: black;
}

/* CARDS */

#contenedor-cards{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: start;
    align-content: flex-start;
}

.card{
    background-color: #F8D082;
    height: 420px;
    width: 300px;
    text-align: center;
    border-color: rgb(75, 75, 75);
    border-radius: 20px;
    transform: scale();
    box-shadow: 5px 5px 5px 0px #c9a868;
    z-index: 5;
}

.card:hover{
    transform: scale(1.04);
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

#titulo{
    text-align: center;
    max-height: 55px;
    min-height: 55px;
    margin-top: 5px;
    font-size: 15px;
    padding: 0px 10px 0px;
}

.imagenvinilo{
    height: 210px;
    width: 270px;
    margin-top: 20px;
    max-height: 210px;
    max-width: 270px;
    object-fit: cover;
    filter: drop-shadow(5px 5px 5px rgb(73, 73, 73));
}

.imagenvinilo-hover{
    display: none;
    height: 210px;
    width: 270px;
    margin-top: 20px;
    margin-bottom: 10px;
    max-height: 210px;
    max-width: 270px;
    object-fit: contain;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    filter: drop-shadow(0px 0px 8px rgb(73, 73, 73));
}

.enlace-card:hover .imagenvinilo{
    display: none;
}

.enlace-card:hover .imagenvinilo-hover{
    display: block;
}

.etiqueta-div{
    margin: 15px 15px 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    z-index: 10;
    align-items: flex-start;
}

.etiqueta{
    display: inline-block;
    font-weight: 800;
    font-size: 10px;
    padding: 5px;
    background-color: white;
    min-width: 10px;
}

.novedad{
    background-color: rgb(255, 227, 66);
}

.oferta{
    background-color: rgb(255, 86, 86);
}

.exclusiva{
    background-color: rgb(53, 53, 255);
    color: white;
}

.limitada{
    background-color: rgb(47, 255, 206);
}

.firmada{
    background-color: cornflowerblue;
}

#precio{
    color: darkslategray;
    text-align: center;
    font-size: large;
    margin-top: 5px;
}

#precio span{
    color: gray;
}

#stock{
    margin-bottom: 0px;
}

#carrito{
    color: white;
    padding: 13px 75px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #B51B75;
    margin-top: 40px;
    width: 50%;

}
#carrito:hover{
    background-color: #8b185b;

}
#link{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}

main{
    margin-top: 30px;
}

body{
    background-color: #F8D082;
}
#contenedor1{
    background-color: #ffca60;
    margin: 3%;
    text-align: center;
    border: 5px;
    border-radius: 20px;
    height: 85px;
}
#contenedor1 h1{
    font-size: 70px;
    text-align: center;
}
#contenedor2{
    background-color: #ffca60;
    margin: 3%;
    padding: 3%;
    text-align: center;
    border: 5px;
    border-radius: 20px;
}


/* NAVBAR */

.navbar{
    display: grid;
    padding: 0px 20px;
    background: rgb(181,27,117);
    background: linear-gradient(180deg, rgba(181,27,117,1) 0%, rgba(181,27,117,0.9293982241334033) 72%, rgba(181,27,117,0.8201545266544118) 94%, rgba(0,212,255,0) 100%);
    gap: 10px;
    height: 85px;
    position: sticky;
    justify-content: center; 
    align-items: center;
    grid-template-columns: 1fr 3fr;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: 20;
}

.navbaritems{
    background-color: #c5378a;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px 8px;
    padding: 10px;
    font-size: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px; 
    
}


.link-logo{
    display: flex;
    align-items: center;
}

.navbaritems:hover{
    background-color: #b63480;
    transform: scale(1.08);
    transition: 100ms;
}

.navbar-items-div{
    align-content: center;
    max-height: 70px;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%; 
    
}

.logo{
    align-content: center;
    margin-right: 20px;
    display: flex;
    align-items: center;
}

.logo img{
    height: 75px;
    margin-right: 10px;
    position: relative;
    top: 3px;
}

.logo img:hover {
    transform: scale(1.1); 
    transition: 0.4s;
}

#cart{
    width: 50px;
    height: 50px;
    padding: none;

}

.search-container {
    position: relative;
    display: inline-block;
}

.search-icon {
    position: absolute;
    top: 70%;
    right: -5px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-size: cover;
    cursor: pointer;
}

.search-input {
    width: 1px;
    padding: 2px 20px 2px 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    transition: width 0.3s ease;
    display: none;
}

.search-input:focus {
    border-color: #555;
    width: 100px;
}



#cart img{
    position: relative;
    top: 15px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown:hover{
    transform: scale(1.08);
    transition: 100ms;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d8d7d72d;
    min-width: 150px;
    z-index: 1;
    right: 4px;
    top: 32px;
    border: 2px solid darkgray;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 2px transparent ;
    box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 0.637);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover{
    color: rgb(55, 55, 55);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content-responsive {
    display: none;
    position: absolute;
    background-color: #d8d7d72d;
    min-width: 200px;
    z-index: 1;
    right: 52px;
    top: 86px;
    scale: 1.5;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 2px transparent ;
    box-shadow: 5px 5px 5px 0px rgba(128, 128, 128, 0.637);

}
.dropdown-content-responsive a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}
.dropdown-responsive:hover .dropdown-content-responsive {
    display: block;
}

#menu{
    position: relative;
    bottom: 2px;
}

.dropdown-responsive:hover {
    transform: scale(1.08);
    transition: 100ms;
}

#menu svg{
    position: relative;
    top: 6px;
}

.mitad1{
    position: static;

}

.mitad1 a{
    font-size: 16px;
}

.mitad2{
    display: none;
}

#invisible{
    display: none;
}

@media screen and (max-width: 719px) {
    .etiqueta{
        font-size: 10px;
        padding: 2px;
    }
    #LogIn{
        display: none;
    }
    .dropdown{
        display: none;
    }
    .mitad2{
        display: block;
    }
    .card{
        height: 280px;
        width: 200px;
        box-shadow: 3px 3px 3px 0px #c9a868;
        padding: auto;
    }
    #titulo{
        min-height: 40px;
        max-height: 40px;
        font-size: 10px;
    }
    
    #precio, #stock{
        text-align: center;
        max-height: 10px;
        min-height: 10px;
        margin-top: 5px;
        font-size: 14px;
    }
    .imagenvinilo, .imagenvinilo-hover{
        height: 140px;
        width: 180px;
        margin-top: 5%;

    }
    #carrito{
        padding: 2px 20px;
        position: relative;
        top: 15px;
        width: 170px;
    }
    br{
        display: none;
    }
    main{
        margin-top: 5px;
    }
}

@media screen and (max-width: 500px) {
    .logo h1{
        display: none;
    }
    .etiqueta{
        font-size: 6px;
        padding: 2px;
    }
    #LogIn{
        display: none;
    }
    .dropdown{
        display: none;
    }
    .mitad2{
        display: block;
    }
    .card{
        height: 224px;
        width: 160px;
        box-shadow: 3px 3px 3px 0px #c9a868;
        border-radius: 5px;
    }
    #titulo{
        min-height: 28px;
        max-height: 28px;
        font-size: 8px;
    }
    #precio, #stock{
        text-align: center;
        max-height: 10px;
        min-height: 10px;
        margin-top: 5px;
        font-size: 10px;
    }
    .imagenvinilo, .imagenvinilo-hover{
        height: 100px;
        width: 120px;
        margin-top: 5%;

    }
    #carrito{
        padding: 2px 14px;
        margin-top: 0px;
        position: relative;
        top: 15px;
    }
    br{
        display: none;
    }
    main{
        margin-top: 5px;
    }
}