@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* GENERALES */

*{
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}



a{
    text-decoration: none;
    color: black;
}

body{
    background-color: #EAE4DD;
    font-family: "Nunito", sans-serif;
}

hr{
    border-color: #5b6d80;
}

#contenedor-contenido{
    background-color: #CDC2A5;
    width: 80%;
    height: auto;
    max-width: 1100px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0px 0px 0px;
    box-shadow: 4px 4px 8px #5b6d80;
    
}

/* MITAD 1 */

#mitad1{
    display: grid;
    grid-template-columns: 3fr 4fr;
    text-align: center;
    align-items: center;
    place-items: center;
    padding: 40px 60px 40px;
    box-shadow: inset 0px -11px 8px -10px #837c67;
}

#logo-div{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: drop-shadow(5px 5px 5px rgb(41, 95, 152));
}

#logo{
    width: 400px;
    height: 400px;
    animation-duration:4s;
    animation-name: logo;   
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-delay: 0ms;
    padding: auto;
}

#logo1{
    position: absolute;
    width: 400px;
    height: 400px;
}

@keyframes logo{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#logo-span{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
    filter: drop-shadow(1px 1px 3px rgb(41, 95, 152));
}

#texto{
    padding: 0px 30px 0px;
    font-size: 1hw;
}

#texto div{
    margin-top: 10px;
}

#button-catalogo {
    padding: 10px 10px;
    background-color: rgb(41, 95, 152);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    display: inline-block;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#button-catalogo:hover {
    background-color: rgb(32, 73, 117);
    transform: scale(1.1);
}


/* MITAD 2 */

#mitad2{
    display: grid;
    grid-template-columns: 6fr 5fr;
    text-align: center;
    align-items: center;
    place-items: center;
    padding: 60px 60px 60px;
    box-shadow: inset 0px 11px 8px -10px #837c67, inset 0px -11px 8px -10px #837c67;
}

#texto2{
    padding: 20px 40px 20px;
    border-radius: 5px;
    box-shadow: -2px -2px 2px #837c67;
    font-size: 105%;
    background-color: #EAE4DD;
}

#aboutus-img{
    height: 200px;
    padding-right: 30px;
    filter: brightness(10%) drop-shadow(1px 1px 4px rgb(41, 95, 152));
}

/* MITAD 3 */

#mitad3{
    display: grid;
    grid-template-columns: 3fr 5fr;
    text-align: center;
    align-items: center;
    place-items: center;
    padding: 40px 60px 40px;
    box-shadow: inset 0px 11px 8px -10px #837c67, inset 0px -11px 8px -10px #837c67;
}

#cards-servicios-div{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 20px;
}

.cards-servicios{
    border-radius: 6px;
    padding: 0px 10px 15px
}

.cards-servicios:hover{
    transition: all ease-in-out 0.4s;
    transform: scale(1.04);
    box-shadow: #837c67 4px 4px 4px;
}

#logos-servicios{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 30px auto;
    column-gap: 10px;
    text-align: left;
    padding: 10px;
}

#texto-servicios{
    text-align: left;
    text-wrap: pretty;
    padding: 0px 10px 0px;
}

#servicios-div{
    text-align: left;
    padding: 0px 20px 0px;
    
}

#servicios-div p{
    font-size: 105%;
    width: 80%;
}

#servicios-div h2{
    font-size: 35px;
    filter: drop-shadow(0px 0px 1px #295F98);
}


/* MITAD 4 */

#mitad4{
    display: grid;
    grid-template-rows: auto auto;
    text-align: center;
    align-items: center;
    place-items: center;
    padding: 40px 20px 60px;
    box-shadow: inset 0px 11px 8px -10px #837c67, inset 0px -11px 8px -10px #837c67;
}

#ourproducts-h2{
    font-size: 50px;
}
#ourproducts-div{
    padding: 0px 0px 20px;
}

#ourproducts-cards-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ourproducts-cards{
    display: grid;
    grid-template-rows: auto auto;
    transition: all 0.4s ease-in-out;
    filter: drop-shadow(5px 5px 5px #295f98d2);
}

#ourproducts-cards-div:hover .ourproducts-cards{
    transform: scale(0.95);

}

#ourproducts-cards-div:hover .ourproducts-cards:hover{
    transform: scale(1.1);
    filter: drop-shadow(5px 5px 7px #295f98d2);
}

.ourproducts-img{
    height: auto;
    max-width: 300px;
}

.ourproducts-button{
    padding: 10px 10px;
    background-color: rgb(41, 95, 152);
    border: none;
    border-radius: 5px;
    margin: auto;
    cursor: pointer;
    font-weight: 700;
    transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

.ourproducts-button:hover{
    background-color: rgb(32, 73, 117);
    transform: scale(1.1);
}

.presentacion-op{
    text-wrap: balance;
    max-width: 240px;
    margin: 0 auto;
    background-color: #E1D7C6;
    position: relative;
    bottom: 10px;
    border-radius: 10px;
    padding: 10px 15px 10px;
    font-weight: 600;
    
}

.presentacion-op p{
    font-size: small;
}

.presentacion-op span{
    font-weight: 700;
    font-size: larger;
}


/* MITAD 5 */

#mitad5{
    display: grid;
    grid-template-rows: auto auto;
    text-align: left;
    align-items: center;
    padding: 40px 60px 40px;
    box-shadow: inset 0px -11px 4px -5px #295F98,  inset 0px 11px 8px -10px #837c67;
}

.bold{
    font-weight: 700;
    font-size: 40px;
}

.otherproducts-text{
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.otherproducts-cards-div{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
    transition: all 0.4s ease-in-out;
}

.otherproducts-cards{
    border-radius: 5px;
    width: 80%;
    margin: 0 auto;
    filter: drop-shadow(2px 2px 2px #7e776c);
    transition: all 0.4s ease-in-out;
}

.otherproducts-cards-div:hover .otherproducts-cards img{
    transform: scale(0.95);
}

.otherproducts-cards-div:hover .otherproducts-cards img:hover{
    transform: scale(1.1);
}

.otherproducts-cards img{
    width: 100%;
    filter: drop-shadow(2px 2px 2px #7e776c);
    transition: all 0.4s ease-in-out;
}

.otherproducts-cards div{
    padding: 15px 15px 15px;
    margin: auto;
    background-color: #E1D7C6;
    text-align: left;
    
}

.otherproducts-cards div span{
    font-size: 10-large;
    line-height: 95%;
}

.otherproducts-cards div p{
    margin-top: 10px;
}

.card1{
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.card1 div{
    margin-left: 20px;
    border-radius: 0px 10px 10px 0px;
}

.card2{
    display: grid;
    grid-template-columns: 7fr 5fr;
}

.card2 div{
    margin-right: 20px;
    border-radius: 10px 0px 0px 10px;
}


/* FOOTER */

.footer{
    background-color: #295F98;
    height: 50px;
    align-content: center;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
}


/* #mitad2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    column-gap: 3%;
    padding: 0px 10px 0px;
    margin: 10px 5px;
}

.cartas{
    position: relative;
    width: 250px;
    height: 200px;
    background-color:  rgb(41, 95, 152);
    border-radius: 4%;
    margin: auto;
    text-align: center;
    align-items: center;
    scale: 1;
    box-shadow: 5px 5px 5px rgb(17, 42, 68);
    
}

.cartas:hover{
    transition: all 0.5s ease-in-out;
    scale: 1.05;
    box-shadow: 8px 8px 8px #262014;
}

.cards-img{
    object-fit: cover;
    width: 240px;
    height: 190px;
    border-radius: 3%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 90%;
}

.enlace-cards{
    text-shadow: 0px 0px 15px #000000;
    color: #EAE4DD;
    font-size: 20px;
}

.enlace-cards .overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 240px;
    height: 190px;
    border-radius: 3%;
    background-color:rgba(41, 95, 152, 0.36);
    pointer-events: none;
}

.cards-span{
    font-weight: 700;
    font-size: larger;
    width: 200px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    align-items: center;
    padding-top: 5px;

    
} */

/* MEDIA QUERIES */


@media screen and (width < 820px){
    #contenedor-contenido{
        min-height: 750px;
        margin-bottom: 10px;
        padding-bottom: 30px;
    }
    
    #mitad1{
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: 500px;
        padding: 30px 0px 20px
    }

    #logo-div{
        grid-template-rows: 3fr 1fr;
    }
    

    #logo{
        position: relative;
    }

    #logo1{
        position: absolute;
        align-content: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    #mitad2{
        display: grid;
        align-content: center;
        justify-content: center;
        position: relative;
    }

    .cartas{
        margin: auto;
        width: 150px;
        height: 150px;
        margin-top: 35px;
    }

    .cards-img{
        width: 120px;
        height: 120px;
    }

    #cards-span{
        width: 150px;
        height: 30px;
        font-size: 15px;
        top: 40%;
    }

    #texto{
        font-size: 130%;
        margin: 30px 0px 0px;
        transition: all;
    }
}

@media screen and (width < 700px){
    #texto{
        font-size: 125%;
    }
}

@media screen and (width < 650px){
    #texto{
        font-size: 120%;
    }
}

@media screen and (width < 600px){
    #contenedor-contenido{
        min-height: 700px;
        margin-bottom: 10px;
        padding-bottom: 30px;
    }

    .cartas{
        margin: auto;
        width: 100px;
        height: 100px;
        margin-top: 35px;
    }

    .cards-img{
        width: 80px;
        height: 80px;
    }

    #cards-span{
        width: 100px;
        height: 30px;
        font-size: 15px;
        top: 40%;
    }
    
    #texto{
        font-size: 115%;
    }
}

@media screen and (width < 530px){
    #texto{
        font-size: 105%;
    }
}

@media screen and (width < 470px){
    #texto{
        font-size: 97%;
    }
}

@media screen and (width < 420px){
    #contenedor-contenido{
        min-height: 700px;
        margin-bottom: 10px;
        padding-bottom: 30px;
    }

    .cartas{
        margin: auto;
        width: 80px;
        height: 80px;
        margin-top: 35px;
    }

    .cards-img{
        width: 64px;
        height: 64px;
    }

    #cards-span{
        width: 80px;
        height: 30px;
        font-size: 12px;
        top: 30%;
    }

    #texto{
        font-size: 94%;
    }
}
